.button {
    -fx-background-color: #252525;
    -fx-background-radius: 30;
    -fx-text-fill: #c0c0c0;
    -fx-font-family: "Fira Mono Medium";
    -fx-font-size: 16px;
    -fx-padding: 5 5 5 5;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #303030;
}
